<h1>Hello Wallet</h1>

<h2>Wallet Balance: <%= @wallet.balance -%></h2>
<div class='deposit'>
  <%=form_tag(deposit_wallet_path) do -%>
    <%=text_field_tag 'amount' -%>
    <%=submit_tag 'Deposit' -%>
  <% end -%>
</div>
<div class='withdraw'>
  <%=form_tag(withdraw_wallet_path) do -%>
    <%=text_field_tag 'amount' -%>
    <%=submit_tag 'Withdraw' -%>
  <% end -%>
</div>
